@import url('global.css');

body {
    position: relative;
    height: fit-content;
    padding-bottom: 3.6rem;
}

.container{
    display: flex;
    gap: 10rem;
    align-items: center;
}

.imagem_login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0EEEE;
    width: 100%;
    height: 100%;
    align-items: center;
    z-index: 1;
    min-width: 64.9rem;
}

.imagem_login img{
    width: 50.0rem;
    height: 50.1rem;
}

h2 {
    margin-bottom: 1rem;
}

.foto label {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foto-do-perfil {
  width: 10.0rem;              
  height: 10.0rem;
  border-radius: 5.0rem;        
  overflow: hidden;          
  display: flex;             
  align-items: center;
  justify-content: center;
  border: 0.2rem solid #ccc;    
  cursor: pointer;
}

.foto-do-perfil img {
  width: 100%;
   align-items: center;
  justify-content: center;
  height: 100%;
  object-fit: cover;          
}


.adfoto{
    font-family: 'Inter';
    font-size: 1.4rem;
    color: var(--Preto);
    text-align: center;
    align-items: center;
}
.formContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_cadastro{
    width: 46.8rem;
    height: fit-content;
}

.form_cadastro h1{
    font-family: 'Inter';
    font-size: 4.0rem;
    color: var(--VermelhoCereja);
}

.form_cadastro h2{
    font-family: 'Inter';
    font-size: 2.0rem;
    color: var(--Preto);
    margin-top: 2.6rem;
}


form{
    display: flex;
    margin-top: 2.0rem;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
form p{
    width: 100%;
    font-family: 'Inter';
    font-size: 1.5rem;
    color: var(--Preto);
    font-weight: bold;
}

.labelInput{
    padding-left: 2.5rem;
    margin-top: 2rem;
}

input{
    font-family: 'Inter';
    width: 100%;
    height: 3.5rem;
    border: 0.1rem solid var(--Preto);
    padding-left: 1.2rem;
    border-left: none;
    border-right: none;
    border-top: none;
    font-size: 1.4rem;
}

button{
    width: 10.0rem;
    height: 4rem;
    border-radius: 0.5rem;
    background-color: var(--VermelhoCereja);
    border: none;
    color: var(--Branco);
    font-size: 2.0rem;
    cursor: pointer;
}

button:hover{
    background-color: #af353f;
    border: 0.1rem solid var(--VermelhoCereja)
}

.google_facebook{
    display: flex;
    gap: 2.0rem;
    justify-content: center;    
}


.google img, .facebook img{
    width: 2.8rem;
    height: 2.8rem;
    cursor: pointer;
}


.login{
    font-family: 'Inter';
    font-size: 1.5rem;
    color: var(--Preto);
    margin-bottom: 4.5rem;
    text-align: center;
}

span{
    color: var(--VermelhoCereja);;
    cursor: pointer;
}

span:hover{
    text-decoration: underline;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 3.6rem;    
    background-color: #FFDB58;
}

.msg_erro{
    color: red;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    display: none;
}