@import url('global.css');

body {
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    /* gap: 0;  */
    align-items: stretch; 
}

.imagem_login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0EEEE;
    width: 50%; 
    max-height: 100rem;
    height: 100%;
}

.imagem_login img{
    width: 50.0rem;
    height: 50.1rem;
}

.formContainer {
    width: 50%; 
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5rem;
    padding-top: 2rem;
}

.form_cadastro{
    max-width: 46.8rem;
    width: 100%;
    height: fit-content; 
    margin: auto 0;
}

h2 {
    margin-bottom: 1rem;
}

.frase{
    font-family: 'Inter';
    font-size: 1.5rem;
    color: var(--Preto);
   
}
.foto label {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foto-do-perfil {
  width: 10.0rem;            
  height: 10.0rem;
  border-radius: 5.0rem;      
  overflow: hidden;           
  display: flex;              
  align-items: center;
  justify-content: center;
  border: 0.2rem solid #ccc;  
  cursor: pointer;
}

.foto-do-perfil img {
  width: 100%;
    align-items: center;
  justify-content: center;
  height: 100%;
  object-fit: cover;          
}


.adfoto{
    font-family: 'Inter';
    font-size: 1.4rem;
    color: var(--VermelhoCereja);
    text-align: center;
    align-items: center;
    margin-bottom: 1.0rem;
}

.form_cadastro h1{
    font-family: 'Inter';
    font-size: 4.0rem;
    color: var(--VermelhoCereja);
}

.form_cadastro h2{
    font-family: 'Inter';
    font-size: 2.0rem;
    color: var(--Preto);
    margin-top: 2.6rem;
}

form{
    display: flex;
    margin-top: 2.0rem;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
}
form p{
    width: 100%;
    font-family: 'Inter';
    font-size: 1.5rem;
    color: var(--Preto);
    font-weight: bold;
}

.labelInput{
    padding-left: 0.5rem;
    margin-top: 2rem;
}

input{
    font-family: 'Inter';
    width: 100%;
    height: 2.5rem;
    border: 0.1rem solid var(--Preto);
    padding-left: 1.2rem;
    border-left: none;
    border-right: none;
    border-top: none;
    font-size: 1.4rem;
}

button{
    width: 10.0rem;
    height: 3.0rem;
    border-radius: 0.5rem;
    background-color: var(--VermelhoCereja);
    border: none;
    margin-top: 2.5rem;
    color: var(--Branco);
    font-size: 2.0rem;
    cursor: pointer;
}

button:hover{
    background-color: #af353f;
    border: 0.1rem solid var(--VermelhoCereja)
    
}

.google_facebook{
    display: flex;
    gap: 2.0rem;
    justify-content: center;    
}


.google img, .facebook img{
    width: 2.8rem;
    height: 2.8rem;
    cursor: pointer;
}


.login{
    font-family: 'Inter';
    font-size: 1.5rem;
    color: var(--Preto);
    /* margin-bottom: 4.5rem; */
    text-align: center;
    margin-bottom: 2.5rem;
}

span{
    color: var(--VermelhoCereja);;
    cursor: pointer;
}

span:hover{
    text-decoration: underline;
}



.msg_erro{
    color: red;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    display: none;
}