

@import url('global.css');

html, body {
  height: 100%;
}

main {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
}

.logo {
  background-color: var(--VermelhoCereja);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  background-color: var(--Branco);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-width: 29.5rem;
}

.logo img {
  width: 60%;
}

h1 {
  color: var(--VermelhoCereja);
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-family: 'Inter';
  font-weight: bold;
}

.adfoto {
  font-family: 'Inter';
  font-size: 1.6rem;
  color: var(--Preto);
  text-align: center;
  font-weight: bold;
  margin-top: 1.0rem;
  margin-bottom: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
<<<<<<< HEAD
=======
  width: 100;
>>>>>>> feature/Integração_Cadastro-prod_P-detalhes
  gap: 1.5rem;
}

.foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.foto-do-produto img {
  width: 12.0rem;
  height:  12.0rem;
  border-radius: 50%;
  padding:  1.0rem;
  cursor: pointer;
  object-fit: cover;
}

.labelInput {
  width: 100%;
  font-family: 'Inter';
  font-size: 1.5rem;
  color: var(--Preto);
  font-weight: bold;
  text-align: left;
  padding: 1.0rem 0;

}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  border-radius: 0.6rem;
  border:0.1rem solid var(--Preto);
  padding: 1rem 1.2rem;
  font-size: 1.4rem;
  outline: none;
  font-family: 'Inter';
}

textarea {
  resize: none;
  min-height: 8rem;
}



#quantidade,
#preco {
  width: 100%;
}

.qtd-preco {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}


button {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.8rem;
  background-color: var(--VermelhoCereja);
  border: none;
  margin-top: 1.5rem;
  color: var(--Branco);
  font-size: 2.0rem;
  cursor: pointer;
  font-family: 'Inter';


}

button:hover{
    border: 0.1rem solid var(--VermelhoCereja);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

}

.icons {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icons img {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
}

@media screen and (max-width: 915px) and (min-width: 501px){
  .logo img {
    width: 75%;
  }
}
@media screen and (max-width: 500px) {
  main {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    height: 7.5rem;
    width: 100%;
    flex: none;
  }
  .logo img {
    display: none;
  }
<<<<<<< HEAD
}
=======
}

>>>>>>> feature/Integração_Cadastro-prod_P-detalhes
