@import 'global.css';


header {
    width: 100%;
    height: 11.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--Preto);
}

.cabecalho {
    display: flex;
    gap: 8.2rem;
    justify-content: center;
    align-items: center;

}


main {
    margin-top: 11.2rem;
    z-index: 1;
    margin-bottom: 7rem;
}




section {
    z-index: 1;
    margin-bottom: 5rem;
}

h2 {
    font-size: 5.6rem;
    font-weight: bold;
    margin-bottom: 6rem;
    text-align: center;
    color: var(--VermelhoCereja);
}

.textoft{
    display: flex;
    justify-content: space-between;




}

.textbtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4rem;
}

.textomenu{
    font-size: 3.4rem;
    text-align: justify;
    margin-top: 8rem;
    margin-left: 10rem;
    margin-right: 13rem;
    margin-bottom: 4rem;
}


.foto {
    display: flex;
    justify-content: right;
    margin-top: 2.5rem;
    margin-right : 6rem;

}

.foto img {
    width: 85rem;
    height: 80rem;
}

.btncardapio{

    width: 38rem;
    height: 4.5rem;
    justify-content: center;
    background-color: var(--VermelhoCereja);
    border-radius: 0.5rem;
    margin-right: 2rem;
    font-weight: bold;
    font-size: 2.6rem;
    border: none;
    color: var(--Branco);
    cursor: pointer;
    
}


.btncardapio:hover {
    background-color: var(--VermelhoCereja);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.decoracao1 {
    display: flex;
    justify-content: start;
    align-items: right;
    
}


.decoracao1 img{
    width: 15rem;
    height: 15rem;
}

.decoracao2 {
    display: flex;
    justify-content:end;
    
}

.decoracao2 img{
    width: 15rem;
    height: 15rem;
}



.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
}

.textostitulo{
    justify-content: left;
    text-align: left;
    align-items: left;
    margin-right: 78rem;
}
.frase {
    font-size: 2.5rem;
    font-weight: normal;
    margin-top: 3.5rem;
    margin-bottom: 6rem;
}

.feed {
    font-size: 4rem;
    font-family: 'Inter';
    color: var(--VermelhoCereja); ;
    font-weight: bold;
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 3rem;

}

.word {
    color: var(--VermelhoCereja);
}

.feedbackcontainer {
    display: flex;
    flex-direction: column;
}

.lineone {
    display: flex;
    gap: 3rem;
    margin-bottom: 4rem;
}

.linetwo {
    display: flex;
    gap: 3rem;
}

.caixa {
    display: flex;
    flex-direction: column;
    width: 46.8rem;
    height: 27.5rem;
    padding-top: 2.7rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    background-color: var(--Branco);
}

.dados {
    display: flex;
    align-items: center;
    gap: 2.2rem;
    margin-bottom: 2.9rem;
}

.dados img {
    width: 6rem;
    height: 5rem;
}

.dados p {
    font-size: 2rem;
    color: var(--VermelhoCereja);
    font-weight: bold;
}

.textofeedback {
    width: 40.9rem;
    height: 14.4rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: justify;
}

hr{
    margin: 4rem;
}


footer {
    width: 100%;
    height: 6.6rem;
    background-color: var(--VermelhoCereja);
    color: var(--Branco);
}
footer h4 {
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 1.5rem;
}




















.menu {
    width: 8rem ;
    padding-left: 4rem;
    cursor: pointer;
}
.menu:hover {
    transition: 500ms;
    opacity: 70%;
}
.sandwich {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 3.2rem;
    position: absolute;
    top: 3.3rem;
    left: 0;
    width: fit-content;
}
.options {
    background-color: var(--VermelhoCereja);
    width: 25.5rem;
    border-style: solid;
    border-left-style: none;
    border-width: 0.2rem;
    transform: translateX(-100%);
    transition: 500ms;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.optionActive {
    transform: translateX(0%);
    transition: 500ms;
}
.option {
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 6.4rem;
    border-style: solid;
    border-left-style: none;
    border-width: 0.1rem;
    border-color: var(--Preto);
    color: var(--Branco);
    padding-left: 1.6rem;
    gap: 2.1rem;
    cursor: pointer;
    transition: 500ms;
}
.option:hover {
    padding-left: 2.5rem;
    transition: 500ms;
}
h5 {
    font-size: 2.1rem;
    font-weight: 400;
}
.sombra {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: var(--Preto);
    opacity: 0%;
    transition: 500ms;
    pointer-events: none;
}
.shadowActive {
    opacity: 40%;
    transition: 500ms;
    pointer-events: all;
}