@import "global.css";

body {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    background-color: #c9c9c92e;
}

header {
    width: 100%;
    height: 11.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--Branco);
}

.cabecalho {
    display: flex;
    gap: 8.2rem;
    justify-content: center;
    align-items: center;
}

.cabecalho button {
    font-size: 1.7rem;
    font-weight: 500;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0.9rem 1rem;
    transition: all 0.3s ease;
}

.cabecalho button:hover {
    background-color: rgb(250, 239, 142);
    font-weight: bold;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.cabecalho img {
    width: 6.9rem;
    height: 6.4rem;
}

.icone img {
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    margin-right: 5rem;
}

button.login {
    width: 9rem;
    height: 3.2rem;
    margin-left: 4.5rem;
    background-color: var(--AmareloPrimario);
    border-radius: .3rem;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.login:hover {
    background-color: var(--VermelhoCereja);
    color: var(--Branco);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main {
    margin-top: 11.2rem;
    z-index: 1;
    margin-bottom: 7rem;
}

section {
    z-index: 1;
}

.sessaomaispedidos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.maispedidos {
    display: flex;
    flex-direction: column;
    margin-left: 4.2rem;
    margin-bottom: 6rem;
}

.maispedidostitulo {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.maispedidostitulo img {
    width: 4.8rem;
    height: 4.8rem;
}

.maispedidostitulo h2 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--VermelhoCereja);
}

.maispedidossubtitulo {
    font-size: 1.8rem;
    font-weight: normal;
    margin-bottom: 3rem;

}

.maispedidoscards {
    display: flex;
    gap: 3rem;
}

.card {
    width: 22.7rem;
    height: 26.7rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    background-color: var(--Branco);
}

.card img {
    width: 20rem;
    height: 13rem;
    margin-left: 1.1rem;
    margin-top: 1.9rem;
    margin-right: 1.4rem;
    border-radius: .5rem;
}

.nomedopedido {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
    width: 16rem;
    height: 4rem;
    background-color: var(--AmareloPrimario);
    margin-top: 2.4rem;
}

.elementocima {
    width: 95%;
    display: flex;
    justify-content: end;
    padding-top: 3rem;
}

.sobrenos {
    background-color: var(--Branco);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.sobre {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elementobaixo {
    width: 95%;
    display: flex;
    justify-content: start;
    padding-left: 5rem;
    padding-bottom: 5rem;
}

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;
}

.feedback h3 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--VermelhoCereja);
    margin-top: 3.5rem;
}

.subtitulo {
    font-size: 2rem;
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: 8rem;

}

.word {
    color: var(--VermelhoCereja);
}

.feedbackcontainer {
    display: flex;
    flex-direction: column;
}

.lineone {
    display: flex;
    gap: 8rem;
    margin-bottom: 9.1rem;
}

.linetwo {
    display: flex;
    gap: 8rem;
}

.caixa {
    display: flex;
    flex-direction: column;
    width: 46.8rem;
    height: 27.5rem;
    padding-top: 2.7rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    background-color: var(--Branco);
}

.dados {
    display: flex;
    align-items: center;
    gap: 2.2rem;
    margin-bottom: 2.9rem;
}

.dados img {
    width: 6rem;
    height: 5rem;
}

.dados p {
    font-size: 2rem;
    color: var(--VermelhoCereja);
    font-weight: bold;
}

.textofeedback {
    width: 40.9rem;
    height: 14.4rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: justify;
}

footer {
    width: 100%;
    height: 60.2rem;
    background-color: var(--VermelhoCereja);
    color: var(--Branco);
}

.footerinfor {
    display: flex;
    justify-content: center;
}

.caixafooter {
    display: flex;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-right: 4rem;
}

.localizacao {
    display: flex;
    flex-direction: column;
    margin-right: 6rem;
}

.localizacao h4 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2.6rem;
}

.localizacao p {
    font-size: 2rem;
    width: 44.5rem;
    margin-bottom: 5rem;
}

.decoracao1 {
    display: flex;
    align-items: end;
    margin-right: 3rem;
}

.contato {
    display: flex;
    flex-direction: column;
}

.contato h4 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1.8rem;
}

.contato p {
    font-size: 1.7rem;
    margin-bottom: 2.5rem;
}

.redessociais {
    display: flex;
    gap: 1rem;
}

.redessociais img {
    width: 4rem;
    height: 4rem;
}

.decoracao2 {
    margin-top: 2rem;
}

footer h5 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

@media screen and (min-width: 900px) and (max-width: 1125px) {

    .cabecalho {
        gap: 3rem;
    }

    .cabecalho button {
        font-size: 1.5rem;
    }

    .cabecalho img {
        width: 4.9rem;
        height: 4.9rem;
    }

    .icone img {
        width: 3rem;
        height: 3rem;
        margin-left: 1rem;
        margin-right: 2rem;
    }

    button.login {
        width: 6rem;
        height: 3.2rem;
        margin-left: 2.5rem;
        font-size: 1.3rem;
    }

    main {
        margin-bottom: 4rem;
    }
    .maispedidos{
        margin-left: 1rem;
    }

    .maispedidostitulo h2 {
        font-size: 2.5rem;
    }

    .maispedidostitulo img {
        width: 2.8rem;
        height: 2.8rem;
    }

    .maispedidossubtitulo {
        font-size: 1.8rem;
    }

    .maispedidoscards {
        gap: 2rem;
    }

    .card {
        width: 19.7rem;
        height: 26.7rem;
    }

    .card img {
        width: 18rem;
        height: 13rem;
    }

    .elementocima img {
        width: 10rem;
        height: 10rem;

    }

    .sobre img {
        width: 68rem;
        height: 42rem;
    }

    .elementobaixo img {
        width: 10rem;
        height: 10rem;
    }
    .feedback {
    margin-bottom: 8rem;
}

    .lineone {
        gap: 5rem;
        margin-bottom: 6rem;
    }

    .linetwo {
        gap: 5rem;
    }

    .caixa {
        width: 40.8rem;
        height: 25.5rem;
    }

    .dados {
        margin-bottom: 1rem;
    }

    .textofeedback {
        width: 35rem;
        height: 14.4rem;
        font-size: 1.5rem;
    }

    footer {
        width: 100%;
        height: 50rem;
    }

    .localizacao {
        margin-right:1rem;
    }

    .localizacao h4 {
        font-size: 2rem;
    }

    .localizacao p {
        font-size: 1.5rem;
        width: 30.5rem;
    }
    .localizacao img{
        width: 30rem;
        height: 20rem;
    }

    .decoracao1 img {
        width: 10rem;
        height: 10rem;
    }

    .contato h4 {
        font-size: 2rem;
    }

    .contato p {
        font-size: 1.5rem;
    }

    .redessociais {
        gap: 1rem;
    }

    .redessociais img {
        width: 3rem;
        height: 3rem;
    }

    .decoracao2 img {
        width: 10rem;
        height: 10rem;
    }

    footer h5 {
        font-size: 1.3rem;
    }

}