@import url('global.css');

main{
    height: 100%;
}
.container{
    display: flex;
    height: 100%;
    gap: 10rem;
}

.imagem_login{
    background-color: #F0EEEE;
    width: 50%;
    height: 100%;
    align-items: center;
    z-index: 1;
    min-width: 64.9rem;
}

.form_login{
    margin-top: 4.3rem;
}

.form_login h1{
    font-family: 'Inter';
    font-size: 4.5rem;
    color: var(--VermelhoCereja);
}

.form_login h2{
    font-family: 'Inter';
    font-size: 2.0rem;
    color: var(--Preto);
    margin-top: 2.6rem;
}

form{
    margin-top: 2.0rem;
    flex-direction: column;
}

form p{
    margin-top: 2.0rem;
    margin-left: 0.5rem;
    font-family: 'Inter';
    font-size: 1.5rem;
    color: var(--Preto);
    font-weight: bold;
}

input{
    width: 38.0rem;
    height: 3.5rem;
    border: 0.1rem solid var(--Preto);
    padding-left: 1.2rem;
    border-left: none;
    border-right: none;
    border-top: none;
    font-size: 1.4rem;
}

button{
    width: 10.0rem;
    height: 4rem;
    border-radius: 0.5rem;
    background-color: var(--VermelhoCereja);
    border: none;
    color: var(--Branco);
    font-size: 2.0rem;
    cursor: pointer;
    margin-top: 4.0rem;
    margin-left: 12.0rem;
}

button:hover{
    background-color: #af353f;
    border: 1px solid var(--VermelhoCereja)
}

.google_facebook{
    display: flex;
    gap: 2.0rem;
    margin-top: 2.0rem;
    margin-left: 13rem;
}

.imagem_login img{
    position: absolute;
    margin-top: 5.0rem;
    margin-left: 4.0rem;
    width: 50.0rem;
    height: 50.1rem;
}

.google img, .facebook img{
    width: 2.8rem;
    height: 2.8rem;
    cursor: pointer;
}


.cadastre-se{
    font-family: 'Inter';
    font-size: 1.5rem;
    color: var(--Preto);
    margin-left: 5.0rem;
    margin-top: 3.0rem;
}

span{
    color: #1797a8;
    cursor: pointer;
}

span:hover{
    text-decoration: underline;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 3.0rem;    
    background-color: #FFDB58;
}

.msg_erro{
    color: red;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    display: none;
}