@import 'global.css';

header {
    background-color: var(--VermelhoCereja);
    display: flex;
    height: 10.6rem;
    width: 100%;
    align-items: center;
    justify-content: end;
    padding-right: 4.9rem;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
}
.headerButtons {
    display: flex;
    gap: 4.6rem;
    align-items: end;
}
.headerButtons figure {
    transition: 500ms;
    cursor: pointer;
}
.headerButtons figure:hover {
    transition: 500ms;
    opacity: 70%;
    transform: scale(110%, 110%);
}
.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
figure img{
    display: block;
}
figure{
    width: fit-content;
    height: fit-content;
}
.menu {
    width: 8rem !important;
    padding-left: 4rem;
    cursor: pointer;
}
.menu:hover {
    transition: 500ms;
    opacity: 70%;
}
.sandwich {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 3.2rem;
    position: absolute;
    top: 3.3rem;
    left: 0;
    width: fit-content;
}
.options {
    background-color: var(--VermelhoCereja);
    width: 25.5rem;
    border-style: solid;
    border-left-style: none;
    border-width: 0.2rem;
    transform: translateX(-100%);
    transition: 500ms;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.optionActive {
    transform: translateX(0%);
    transition: 500ms;
}
.option {
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 6.4rem;
    border-style: solid;
    border-left-style: none;
    border-width: 0.1rem;
    border-color: var(--Preto);
    color: var(--Branco);
    padding-left: 1.6rem;
    gap: 2.1rem;
    cursor: pointer;
    transition: 500ms;
}
.option:hover {
    padding-left: 2.5rem;
    transition: 500ms;
}
h5 {
    font-size: 2.1rem;
    font-weight: 400;
}
.sombra {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: var(--Preto);
    opacity: 0%;
    transition: 500ms;
    pointer-events: none;
}
.shadowActive {
    opacity: 40%;
    transition: 500ms;
    pointer-events: all;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80rem;
    height: 79.6rem;
    box-shadow: 0 0 3.06rem 0 rgba(0, 0, 0, 0.2);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24rem;
    background-color: #F4F4F4;
}