@import "global.css";

header {
    width: 100%;
    background-color: var(--VermelhoCereja);
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.6rem;
    margin-right: 2.6rem;
}

.menu {
    width: 8rem !important;
    padding-left: 4rem;
    cursor: pointer;
}

.menu:hover {
    transition: 500ms;
    opacity: 70%;
}

.sandwich {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 3.2rem;
    position: absolute;
    top: 1.5rem;
    left: 0;
    width: fit-content;
}

.options {
    background-color: var(--VermelhoCereja);
    width: 25.5rem;
    border-style: solid;
    border-left-style: none;
    border-width: 0.2rem;
    transform: translateX(-100%);
    transition: 500ms;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.optionActive {
    transform: translateX(0%);
    transition: 500ms;
}

.option {
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 6.4rem;
    border-style: solid;
    border-left-style: none;
    border-width: 0.1rem;
    border-color: var(--Preto);
    color: var(--Branco);
    padding-left: 1.6rem;
    gap: 2.1rem;
    cursor: pointer;
    transition: 500ms;
}

.option:hover {
    padding-left: 2.5rem;
    transition: 500ms;
}

h5 {
    font-size: 2.1rem;
    font-weight: 400;
}

.sombra {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: var(--Preto);
    opacity: 0%;
    transition: 500ms;
    pointer-events: none;
}

.shadowActive {
    opacity: 40%;
    transition: 500ms;
    pointer-events: all;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 9rem;
    height: 7rem;
}

.perfil img {
    width: 4rem;
    height: 4rem;
}

.voltar img {
    width: 3.5rem;
    height: 3.5rem;
    transition: all 0.3s ease;
}

.voltar:hover {
    border-radius: 50rem;
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.lateral {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infortitulo {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.infortitulo h1 {
    margin-top: 4.6rem;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.pesquisa {
    display: flex;
    margin-bottom: 8.4rem;
    gap: 1rem;

}

.conjunto {
    width: 90%;
    position: relative;
}

input {
    width: 100%;
    height: 4rem;
    border-radius: 1.5rem;
    padding-left: 5rem;
    border: .5px solid rgb(162, 162, 162);

}

.conjunto img {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    left: 15px;
    top: 7px;

}

input::placeholder {
    font-weight: bold;
}

button.btn {
    width: 7rem;
    height: 3.5rem;
    border-radius: 2rem;
    background-color: var(--AmareloSecundario);
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    background-color: var(--VermelhoCereja);
    color: var(--Branco);
}


.pedidos {
    width: 60%;
}

.pedido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 12.2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.ilustracao {
    position: relative;
}

.statusok {
    width: 8.1rem;
    height: 2.4rem;
    background-color: var(--Branco);
    color: var(--VermelhoCereja);


    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.4rem;
    font-weight: bold;

    position: absolute;
    top: 80px;
    left: 2px;
    border-radius: 2rem;
}

.statusretirado{
    display: none;
}
.statuspendente{
    display: block;
}
.statuspend {
    width: 8.1rem;
    height: 2.4rem;
    background-color: var(--Branco);
    color: #007A37;


    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.4rem;
    font-weight: bold;

    position: absolute;
    top: 80px;
    left: 2px;
    border-radius: 2rem;
    
}

.ilustracao img {
    width: 9rem;
    height: 11rem;
}

.central {
    display: flex;
    align-items: center;
    gap: 8%;
}

.centralline1,
.centralline2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.codigopedidos,
.horapedidos,
.datapedidos {
    display: flex;
    gap: 1.9rem;
    align-items: center;
}

.totalpedidos {
    display: flex;
    gap: 3.3rem;
    align-items: center;
}

.horapedidos img,
.datapedidos img {
    width: 2rem;
    height: 2rem;
}

.inforcodigo,
.infortotal {
    color: var(--VermelhoCereja);
    font-weight: bold;
    font-size: 1.5rem;
}

.codigo,
.total,
.hora,
.data {
    width: 10.1rem;
    height: 3.2rem;
    background-color: var(--AmareloPrimario);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

button.detalhes,
button.statusbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18rem;
    height: 3.6rem;
    border-radius: .5rem;
    font-weight: bold;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
}

button.detalhes {
    background-color: var(--VermelhoCereja);
    color: var(--Branco);
}

button.statusbtn {
    background-color: #f0f0f0;
}

button.detalhes:hover,
button.statusbtn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.modaldetalhes {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;

}

.conteudomodaldetalhes {
    width: 35%;
    height: 55%;
    border-radius: 2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    z-index: 100rem;
    background-color: var(--Branco);
    margin-top: 10%;
    margin-left: 33%;
}

.fechar {
    width: 97%;
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.fechar img {
    width: 3rem;
    height: 3rem;
}

.modaldados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
}

.modalilustracao img {
    width: 8rem;
    height: 9rem;
}

.modalcodigopedidos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.codigotitulo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--VermelhoCereja);
}

.codigotexto {
    font-size: 1.5rem;
    font-weight: bold;
    width: 8rem;
    height: 3rem;
    background-color: var(--AmareloPrimario);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.modaldata,
.modalhora {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.modaldata p,
.modalhora p {
    font-size: 1.5rem;
    font-weight: bold;
    width: 10rem;
    height: 3rem;
    background-color: var(--AmareloPrimario);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resumopedido{
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: .5rem;
    background-color: var(--RosaClaro);
    height: 40%;
    padding: 2rem;
}

.resumotitulo{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: var(--VermelhoCereja);
}

.resumolanche{
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
    padding-top: 1rem;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(153, 146, 146, 0.3);
}

.modalstatus{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
.modalstatus p{
    width: 17%;
    height: 4rem;
    font-size: 2rem;
    font-weight: 700;
    background-color: var(--VermelhoCereja);
    color: var(--Branco);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.modalconfirm {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.conteudomodalconfirm{
    width: 20%;
    height: 25%;
    border-radius: 2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    z-index: 1;
    background-color: var(--Branco);
    margin-top: 17%;
    margin-left: 39%;

}

.conteudomodalconfirm h2{
    font-weight: bold;
    font-size: 2rem;
    color: var(--VermelhoCereja);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

.conteudomodalconfirm p{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    font-size: 1.8rem;
}

.modalbotoes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    gap: 4rem;
}

.sim{
    width: 7rem;
    height: 3rem;
    border: none;
    color: var(--Branco);
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    background-color: #007A37;
    border-radius: .5rem;
    cursor: pointer;
}

.nao{
    width: 7rem;
    height: 3rem;
    color: var(--Branco);
    font-weight: bold;
    border: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    background-color: var(--VermelhoCereja);
    border-radius: .5rem;
    cursor: pointer;
}