.security-section {
    margin-bottom: 4rem;
}
.security-section h3, .security-form h3 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.add-2fa-link {
    font-size: 1.6rem;
    color: var(--VermelhoCereja);
    text-decoration: none;
    font-weight: 500;
}
.add-2fa-link:hover {
    text-decoration: underline;
}

.security-form .form-group {
    margin-bottom: 2.5rem;
}

/* --- ESTILOS PARA O ÍCONE DE MOSTRAR/OCULTAR SENHA --- */

.password-group {
    position: relative; 
}

/* --- INÍCIO DA CORREÇÃO IMPORTANTE --- */

/* Esconde o ícone de olho padrão do navegador (Chrome, Edge, etc.) */
.password-group input::-ms-reveal,
.password-group input::-ms-clear {
    display: none;
}
.password-group input::-webkit-reveal,
.password-group input::-webkit-clear-button {
    display: none !important; /* !important é necessário para Chrome */
}
/* No Firefox, o ícone não é um pseudo-elemento, então essa é a melhor abordagem */
.password-group input {
    padding-right: 5rem; /* Adiciona espaço à direita no input para o nosso ícone não sobrepor o texto */
}

/* --- FIM DA CORREÇÃO IMPORTANTE --- */


.password-toggle-icon {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    height: 2.4rem;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s;
}

.password-toggle-icon:hover {
    opacity: 1;
}
