<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página de detalhamento | Meumanoburger</title>
        <link rel="stylesheet" href="../templates/assets/css/detalhamentoUser.css" type="text/css">
    </head>
    <body>
        <header>
            <div class="sandwich">
                <figure>
                    <img src="../templates/assets/img/sandwichMenu.png" alt="">
                </figure>
                <div class="options">
                    <div class="option">
                    </div>
                </div>
            </div>
            <figure>
                <img src="../templates/assets/img/Logo.png" alt="">
            </figure>
            <div class="headerButtons">
                <figure>
                    <img src="../templates/assets/img/volte.png" alt="">
                </figure>
                <figure>
                    <img src="../templates/assets/img/Profile.png" alt="">
                </figure>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="mainDiv">
                    <div class="leftDiv">
                        <figure>
                            <img src="../templates/assets/img/coxinha.png" alt="">
                        </figure>
                    </div>
                    <div class="rightDiv">
                        <div class="title">
                            <h2>Coxinha</h2>
                            <div class="icons">
                                <figure>
                                    <img src="templates/assets/img/lapis.png" alt="">
                                </figure>
                                <figure>
                                    <img src="templates/assets/img/lixeira.png" alt="">
                                </figure>
                            </div>
                        </div>
                        <p>Uma coxinha crocante por fora e macia por dentro, recheada com frango desfiado temperado na medida certa e um toque cremoso de catupiry. Preparada com massa leve e dourada, é perfeita para matar a fome a qualquer hora do dia.</p>
                        <h2>R$ 7,00</h2>
                        <button>Salvar alterações</button>
                    </div>
                </div>
                <div class="secondDiv">
                    <h4><span>Tipo</span>Lanche</h4>
                    <h4><span>Quantidade</span>30</h4>
                </div>
            </div>
        </main>
    </body>
</html>
