<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../templates/assets/css/login.css">
    <link rel="icon" href="../templates/assets/img/Logo.png">
    <title>Login | MeuManoBurger</title>
</head>
<body>
    <main>
        <div class="container">
            <div class="imagem_login">
                
                    <img src="../templates/assets/img/imglogin-cadastro.png" alt="Uma mulher sentada em uma cadeira com um notebook no colo, com um celular na página de login atrás">
            </div>

            <div class="form_login">
                <h1>Seja Bem-Vindo ao MeumanoBurger</h1>
                <h2>Realize o Login</h2>
            
                <form>
                    <div class="inputs">

                        <p>Email</p>
                        <input type="email" name="email" id="email">
                        <p class="msg_erro">Este campo é obrigatório</p>
                        
                        <p>Senha</p>
                        <input type="password" name="password" id="password">
                        <p class="msg_erro">Este campo é obrigatório</p>
                    </div>

                    <div class="btn_entrar">
                        <button type="submit">Entrar</button>
                    </div>
                </form>

                <div class="google_facebook">
                    <figure class="google">
                        <a href=""> <!--Link para autenticação com o Google-->  
                            <img src="../templates/assets/img/google.png" alt="Logo do Google">
                        </a>
                    </figure>

                    <figure class="facebook">
                        <a href=""> <!--Link para autenticação com o Facebook-->
                            <img src="../templates/assets/img/facebook.png" alt="Logo do Facebook">
                        </a>
                    </figure>
                </div>
                <p class="cadastre-se">Não tem uma conta? <span>Cadastre-se</span></p>
                <footer></footer>
            </div>
        </div>
    </main>

    <script src="../templates/assets/js/login.js"></script>
</body>
</html>