<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../templates/assets/css/login.css">
    <link rel="icon" href="../templates/assets/img/Logo.png">
    <title>Login | MeuManoBurger</title>
</head>
<body>
    <main>
        <div class="container">
            <div class="imagem_login">
                <figure>
                    <img src="../templates/assets/img/imglogin-cadastro.png" alt="Uma mulher sentada em uma cadeira com um notebook no colo, com um celular na página de login atrás">
                </figure>
            </div>

            <div class="form_login">
                <h1>Seja Bem-Vindo ao MeumanoBurger</h1>
                <h2>Realize o Login</h2>
            
                <form>
                    <p>Email</p>
                    <input type="email" name="email" id="email">

                    <p>Senha</p>
                    <input type="password" name="password" id="password">

                </form>
                <button type="submit">Entrar</button>

                <div class="google_facebook">
                    <figure>
                        <img src="../templates/assets/img/google.png" alt="Logo do Google">
                    </figure>

                    <figure>
                        <img src="../templates/assets/img/facebook.png" alt="Logo do Facebook" >
                    </figure>
                </div>

                <p>Não tem uma conta? <span>Cadastre-se</span></p>

                <h3></h3>
            </div>
        </div>
    </main>
</body>
</html>