<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página de pagamento | Meumanoburger</title>
        <link rel="stylesheet" href="../templates/assets/css/paginaDePagamento.css">
    </head>
    <body>
        <header>
            <div class="sandwich">
                <figure class="menu">
                    <img src="../templates/assets/img/sandwichMenu.png" alt="">
                </figure>
                <div class="options">
                    <div class="option">
                        <figure>
                            <img src="../templates/assets/img/cutlery.png" alt="">
                        </figure>
                        <h5>Cardápio</h5>
                    </div>
                    <div class="option">
                        <figure>
                            <img src="../templates/assets/img/coxinhaIcon.png" alt="">
                        </figure>
                        <h5>Pedidos</h5>
                    </div>
                    <div class="option">
                        <figure>
                            <img src="../templates/assets/img/chat.png" alt="">
                        </figure>
                        <h5>Feedbacks</h5>
                    </div>
                    <div class="option">
                        <figure>
                            <img src="../templates/assets/img/shoppingCart.png" alt="">
                        </figure>
                        <h5>Carrinho</h5>
                    </div>
                </div>
            </div>
            <div class="sombra"></div>
            <figure class="logo">
                <img src="../templates/assets/img/Logo.png" alt="">
            </figure>
            <div class="headerButtons">
                <figure>
                    <img class="back" src="../templates/assets/img/volte.png" alt="">
                </figure>
                <figure>
                    <img class="cartPage" src="../templates/assets/img/yellowShoppingCart.png" alt="">
                </figure>
                <figure>
                    <img class="profileButton" src="../templates/assets/img/Profile.png" alt="">
                </figure>
            </div>
        </header>
        <main>
            <div class="orderSummary">
                <div class="titleDiv">
                    <h2>Seu Carrinho</h2>
                    <div class="line"></div>
                </div>
                <div class="backgroundDiv">
                    <div class="lineDiv">
                        <div class="unitDiv">
                            <div class="priceDiv">
                                <figure><img src="../templates/assets/img/Burger.png" alt=""></figure>
                                <h5>Hambúrguer</h5>
                            </div>
                            <h4>R$ 12,00</h4>
                        </div>
                        <div class="tinyLine"></div>
                    </div>
                    <div class="lineDiv">
                        <div class="unitDiv">
                            <div class="priceDiv">
                                <figure><img src="../templates/assets/img/Coxinha.png" alt=""></figure>
                                <h5>Coxinha</h5>
                            </div>
                            <h4>R$ 7,00</h4>
                        </div>
                        <div class="tinyLine"></div>
                    </div>
                    <h3>Total: <span>R$ 19,00</span></h3>
                </div>
            </div>
            <div class="titleDiv">
                <h2>Método de Pagamento</h2>
                <div class="line"></div>
            </div>
            <div class="paymentMethod">
                <div class="card">
                    <div class="cardContainer">
                        <figure><img src="../templates/assets/img/pix.png" alt=""></figure>
                        <h4>Pix</h4>
                    </div>
                </div>
                <div class="card">
                    <div class="cardContainer">
                        <figure><img src="../templates/assets/img/card.png" alt=""></figure>
                        <h4>Cartão de Crédito</h4>
                    </div>
                </div>
                <div class="card">
                    <div class="cardContainer">
                        <figure><img src="../templates/assets/img/card.png" alt=""></figure>
                        <h4>Cartão de Débito</h4>
                    </div>
                </div>
                <div class="card">
                    <div class="cardContainer">
                        <figure><img src="../templates/assets/img/voucher.png" alt=""></figure>
                        <h4>Voucher</h4>
                    </div>
                </div>
            </div>
            <button>Finalizar pagamento</button>
        </main>
        <script src="../templates/assets/js/paginaDePagamento.js"></script>
    </body>
</html>