<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <link rel="stylesheet" href="../templates/assets/css/pedidosADM.css">
</head>

<body>
    <header>
        <div class="cabecalho">
            <figure class="menu">
                <img src="../templates/assets/img/menu.png" alt="">
            </figure>

            <figure class="logo">
                <img src="../templates/assets/img/logo.png" alt="">
            </figure>

            <div class="lateral">
                <figure class="perfil">
                    <img src="../templates/assets/img/perfil.png" alt="">
                </figure>

                <figure class="voltar">
                    <img src="../templates/assets/img/voltar.png" alt="">
                </figure>
            </div>
        </div>
    </header>

    <main>
        <div class="container">


            <h1 class="titulo">Seus Pedidos</h1>

            <div class="pesquisa">
                <figure>
                    <img src="../templates/assets/img/lupa.png" alt="">
                </figure>

                <input type="text" placeholder="Busque pelos seus pedidos">
                <button class="btn">Buscar</button>
            </div>
            
            <div class="pedido">

                <div class="ilustracao">
                    <p class="status">
                        A retirar
                    </p>
                    <figure>
                        <img src="../templates/assets/img/ilustracao.png" alt="">
                    </figure>
                </div>

                <div class="central">

                    <div class="centralline1">

                        <p class="inforcodigo">Código:
                        <p class="codigo">utz-z</p>
                        </p>

                        <p class="infortotal">Total:
                        <p class="total">R$ 15,00</p>
                        </p>
                    </div>

                    <div class="centralline2">

                        <div class="hora">
                            <figure>
                                <img src="../templates/assets/img/relogio.png" alt="">
                            </figure>
                            <p class="hora">11:00</p>
                        </div>

                        <div class="data">
                            <figure>
                                <img src="../templates/assets/img/calendario.png" alt="">
                            </figure>
                            <p class="data">21-11-2025</p>
                        </div>

                    </div>
                </div>

                <div class="botoes">
                    <button class="detalhes">Ver Detalhes</button>
                    <button class="Statusbtn">O pedido foi retirado?</button>
                </div>
            </div>


            <div class="pedido">

                <div class="ilustracao">
                    <p class="status">
                        Retirado
                    </p>
                    <figure>
                        <img src="../templates/assets/img/ilustracao.png" alt="">
                    </figure>
                </div>

                <div class="central">

                    <div class="centralline1">

                        <p class="inforcodigo">Código:
                        <p class="codigo">lh4-x</p>
                        </p>

                        <p class="infortotal">Total:
                        <p class="total">R$23,60</p>
                        </p>
                    </div>

                    <div class="centralline2">

                        <div class="hora">
                            <figure>
                                <img src="../templates/assets/img/relogio.png" alt="">
                            </figure>
                            <p class="hora">09:00</p>
                        </div>

                        <div class="data">
                            <figure>
                                <img src="../templates/assets/img/calendario.png" alt="">
                            </figure>
                            <p class="data">10-10-2025</p>
                        </div>

                    </div>
                </div>

                <div class="botoes">
                    <button class="detalhes">Ver Detalhes</button>
                    <button class="Statusbtn">Retirado</button>
                </div>
            </div>

            <div class="pedido">

                <div class="ilustracao">
                    <p class="status">
                        Retirado
                    </p>
                    <figure>
                        <img src="../templates/assets/img/ilustracao.png" alt="">
                    </figure>
                </div>

                <div class="central">

                    <div class="centralline1">

                        <p class="inforcodigo">Código:
                        <p class="codigo">p09-3</p>
                        </p>

                        <p class="infortotal">Total:
                        <p class="total">R$ 5,00</p>
                        </p>
                    </div>

                    <div class="centralline2">

                        <div class="hora">
                            <figure>
                                <img src="../templates/assets/img/relogio.png" alt="">
                            </figure>
                            <p class="hora">12:00</p>
                        </div>

                        <div class="data">
                            <figure>
                                <img src="../templates/assets/img/calendario.png" alt="">
                            </figure>
                            <p class="data">16-09-2025</p>
                        </div>

                    </div>
                </div>

                <div class="botoes">
                    <button class="detalhes">Ver Detalhes</button>
                    <button class="Statusbtn">Retirado</button>
                </div>
            </div>

            <div class="pedido">

                <div class="ilustracao">
                    <p class="status">
                        Retirado
                    </p>
                    <figure>
                        <img src="../templates/assets/img/ilustracao.png" alt="">
                    </figure>
                </div>

                <div class="central">

                    <div class="centralline1">

                        <p class="inforcodigo">Código:
                        <p class="codigo">df7-t</p>
                        </p>

                        <p class="infortotal">Total:
                        <p class="total">R$ 28,00</p>
                        </p>
                    </div>

                    <div class="centralline2">

                        <div class="hora">
                            <figure>
                                <img src="../templates/assets/img/relogio.png" alt="">
                            </figure>
                            <p class="hora">08:30</p>
                        </div>

                        <div class="data">
                            <figure>
                                <img src="../templates/assets/img/calendario.png" alt="">
                            </figure>
                            <p class="data">20-08-2025</p>
                        </div>

                    </div>
                </div>

                <div class="botoes">
                    <button class="detalhes">Ver Detalhes</button>
                    <button class="Statusbtn">Retirado</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>